<style>
    td {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid #2C405B;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #16202D;}
    tr:nth-child(odd){background-color: #121A24;}
    tr:hover {background-color: #454D57;}

    th {
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: left;
      background-color: #0197CF;
    }

    table {
        margin: auto;
        width: 80%;
        padding: 10px;
    }

    .free {
        color: green;
    }

    .small {
        width: 7%;
    }

    #profile {
        margin: auto;
        width: 80%;
        padding: 10px;
    }

    body {
        background-color: #1B2838;
        color: white;
    }

    a:link {
        color: #6699ff;
    }

    a:visited {
        color: #cc99ff;
    }
</style>
